/* fonts.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-size: 0.625rem;
}
body {
  font-family: Arial, sans-serif;
}

.game-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.game-banner {
  max-width: 100%;
  border-radius: 10px;
}

.header-section h1 {
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

.form-group h4 {
  color: #000000;
}

label {
  color: #ddd;
  font-size: 1.3rem;
}

textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  color: #000000;
  font-size: 1.4rem;
  margin-top: 10px;
}

.name-game-detail {
  margin-top: -10px;
  font-size: 2.6rem;
  color: #000;
}

.price-game-detail {
  color: #000;
}

.price-game-detail strong {
  font-size: 1.5rem;
}

.releaseDate-game-detail {
  color: #000;
}

.releaseDate-game-detail strong {
  font-size: 1.5rem;
}

.version-game-detail {
  color: #000;
}

.version-game-detail strong {
  font-size: 1.5rem;
}

.gameType-game-detail {
  font-size: 1.3rem;
}

#post {
  background-color: #1e90ff;
  border: 1px solid #ccc;
  color: #fff;
  font-family: sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 800;
}

#post:hover {
  background-color: #e0a10f;
}

.comment {
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  color: #ccc;
  font-size: 2em;
}

.comment img {
  border-radius: 50%;
}

.comment h4 {
  display: inline;
  margin-left: 10px;
  margin-top: 30px;
  color: #706c6c;
  font-size: 1.5rem;
}

.comment span {
  margin-top: 5px;
  display: block;
  color: #888;
  font-size: 1.2rem;
}

ul.list-gameRequirements li.list-gameRequirements-item {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2;
}

ul.list-gameRequirements li.list-gameRequirements-item span {
  color: #838383;
  font-size: 1.4rem;
}

.list-configuration {
  margin-left: 20px;
}

ul.list-gameRequirements li.list-gameRequirements-item:first-child {
  margin-top: 10px;
}

.comment p {
  color: rgb(47, 47, 47);
  font-size: 1.4rem;
  font-weight: 100;
}

p.reply-comment {
  cursor: pointer;
  color: #1e90ff;
}
.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 90%;
  z-index: 99999999;
  display: none;
}

.notification.show {
  display: block;
}

.notification-content {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
}

.notification-button {
  margin-top: 15px;
  margin-left: 280px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.notification-button:hover {
  background-color: #0056b3;
}

.notification.error {
  border-color: #dc3545;
}

.notification.success {
  border-color: #28a745;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Màu nền mờ */
  z-index: 9999999; /* Z-index cao hơn so với các phần tử khác trên trang */
  display: none; /* Ban đầu ẩn */
}

.backdrop.show {
  display: block; /* Hiển thị khi có thông báo */
}

@media (max-width: 768px) {
  #post {
    width: 100%;
  }

  .game-banner {
    width: 100%;
  }
}
