nav.header {
  background-color: #262523;
  width: 100%;
}

nav.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav.header ul li {
  padding: 0 15px;
}

nav.header ul li:nth-child(6) {
  margin-left: 400px;
}

nav.header ul li input {
  border-radius: 15px;
  width: 200px;
  height: 34px;
  border: none;
  font-size: 1.4rem;
  color: black;
  z-index: 5;
}

nav.header ul li span img {
  cursor: pointer;
  z-index: 4;
}

nav.header ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  font-weight: 520;
}

nav.header ul li a:hover {
  color: rgb(134, 213, 98);
}
