*,
body {
  color: white;
}

h5.card-title {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}
.list-keyword {
  background-color: black;
  margin-top: 0px;
}
.list-keyword span {
  font-size: 1.5rem;
  margin: 10px;
  color: white;
}

.list-keyword-finding button.btn {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 1.5rem;
}

.list-keyword-finding {
  text-align: center;
}

.card {
  background-color: #171615;
}

.header-list-game {
  font-size: 1.4rem;
  border-right: 1px solid #616161;
  padding-right: 30px;
}

.header-list-game:nth-child(3) {
  border-right: none;
}
.btn-header-list-game:hover {
  background-color: #373636;
  transition: ease 1s;
}

.item-header-list-game {
  cursor: pointer;
}

.item-header-list-game:hover {
  background-color: #373636;
  padding: 15px;
  border-radius: 15px;
  transition: ease 1s;
}
