/* Carousel.css */

.carousel-container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
  }
  
  .slick-slide h3 {
    background: rgb(56, 56, 56);
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
  }
  
  .slick-dots li button:before {
    color: #3498db;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #3498db;
  }
  