.marquee-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.fixed-text {
  background-color: #fff;
  padding-right: 10px;
  height: 50px;
  font-size: 25px;
  background-color: rgb(255, 179, 32);
  color: white;
}

.marquee {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
  background-color: black;
  height: 50px;
  color: white;
  font-size: 18px;
}

.marquee span {
  display: inline-block;
  margin-right: 50px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
