* {
  font-size: 0.625rem;
}

.form-input {
  margin-left: -45px;
  background-color: #262424;
}

.form-input h5 {
  font-size: 1.6rem;

  color: #83858e;
}

.form-input .h5-register {
  font-size: 1.6rem;
  color: #ffa623;
}

.form-input .h5-login {
  font-size: 1.6rem;
  color: #83858e;
  cursor: pointer;
}

.form-control {
  font-size: 1.6rem;
  display: inline-block;
  background-color: #262424;
  border: none;
  color: #fff;
  margin-right: auto;
}
.form-control label {
  font-size: 1.4rem;
  margin-right: 200px;
  margin-top: 40px;
}

.form-control:nth-child(2),
.form-control:nth-child(3) {
  background-color: transparent;
  margin-top: -10px;
}

.form-control:nth-child(3) label {
  display: inline-block;
  margin-left: -25px;
}

.form-control input {
  width: 280px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #000;
  color: white;
  font-size: 1.3rem;
}

.form-control input::placeholder {
  font-size: 1rem;
  padding-left: 10px;
  margin-left: 10px;
}

.d-flex {
  margin-top: 30px;
}

.d-flex .btn {
  margin-left: 20px;
  width: 60px;
  border-radius: 15px;
}

.d-flex img {
  margin-left: 15px;
}
